{% extends 'base.html.twig' %}

{% block title %}Short Your Links{% endblock %}
{% block body %}
    <div class="col-10" id="app">
        <div class="row">
            <div class="col-12"><h1>Short Your Link!</h1></div>
        </div>
        <div class="row" v-if="shortLink && !loading">
            <div class="col-12">
                <h3>Your Short Link!</h3>
                <h4><a :href="shortLink" target="_blank" v-text="shortLink"></a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12" v-if="loading">
                <b-spinner label="Loading..."></b-spinner>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form, {'attr': {'v-on:submit.prevent':'submit'}} ) }}
                {{ form_errors(form) }}
                {{ form_row(form.originUrl) }}
                {{ form_row(form._token) }}
                <div class="invalid-feedback" v-if="error" v-text="error">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('short') }}
    {% endblock %}