// Body
$body-bg: #fff;
$body-color: #707372;

$gray-base: $body-color;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #00457d;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #c72c77;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffd300;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: $red;

// Bootstrap
$border-radius: 0rem;
$border-radius-lg: 0rem;
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: 0.8;
$custom-checkbox-indicator-icon-indeterminate: none;
$custom-control-indicator-checked-bg: $yellow;
$custom-control-indicator-checked-color: $blue;
$alert-bg-level: -10;
$alert-border-level: -9;
$alert-color-level: 6;

// Other
$registration-widget-width: 450px;