{% extends 'base.html.twig' %}

{% block title %}Short Your Links{% endblock %}
{% block body %}
    <div class="col-10" id="app">
        <div class="row">
            <div class="col-12"><h1>Short Links</h1></div>
        </div>
        <div class="row">
            <div class="col-12">
                <b-table striped hover :total-rows="rows" :items="myProvider" :fields="fields"
                         :current-page="currentPage" :per-page="perPage" id="short-links" :busy="isBusy"
                         :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
                >
                    <div slot="table-busy" class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong>Loading...</strong>
                    </div>
                    <template slot="originUrl" slot-scope="data">
                        <a :href="data.value" v-text="data.value" target="_blank"></a>
                    </template>
                    <template slot="shortUri" slot-scope="data">
                        <a :href="'{{ app.request.getSchemeAndHttpHost() }}' + '/' + data.value" target="_blank"
                           v-text="'{{ app.request.getSchemeAndHttpHost() }}' + '/' + data.value"></a>
                    </template>
                </b-table>
                <b-pagination size="md" :total-rows="rows" v-model="currentPage" :per-page="perPage"></b-pagination>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shortlink_admin') }}
{% endblock %}